<form>
  <div class="list-block">
    <ul>
     <li class="item-content">
        <div class="item-inner">
          <div class="item-title label">School ID</div>
          <div class="item-input">
            <input type="number" name="schoolid" placeholder="School ID">
          </div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title label">Username</div>
          <div class="item-input">
            <input type="text" name="username" placeholder="Username">
          </div>
        </div>
      </li>
      <li class="item-content">
        <div class="item-inner">
          <div class="item-title label">Password</div>
          <div class="item-input">
            <input type="password" name="password" placeholder="Password">
          </div>
        </div>
      </li>
    </ul>
  </div>
  <p class="content-block">
    <a href="#" class="button login">Sign In</a>
  </p>
  <div class="content-block">Having problems with this application? Contact us here.</div>
</form>