<div class="list-block classroom-list">
<ul>                    

<li>
	<a href="classnews.html?id={{query.id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Class News</div>
		</div>
	</a>
</li>

 <li>
	<a href="classcalendar.html?id={{query.id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Class Calendar</div>
		</div>
	</a>
</li>
 
<li>
	<a href="classassignments.html?id={{query.id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Class Assignments</div>
		</div>
	</a>
</li>
  
<li>
	<a href="classhomework.html?id={{query.id}}" class="item-link item-content">
		<div class="item-inner">
			<div class="item-title">Homework</div>
		</div>
	</a>
</li>

                  
</ul>
</div>