{{#each this}}
	{{#each this}}
		<li id="{{ID}}">
			<a href="classroom.html?id={{ID}}" class="item-link item-content swipeout-content">
				<div class="item-inner">
					<div class="item-title">{{Name}} {{Description}}</div>
				</div>
			</a>
		</li>
	{{/each}}
{{/each}}