{{#each this}}
  <div class="card">
    <div class="card-header">
      <a href="newsarticle.html?id={{ID}}">
        {{Title}}
      </a>
    </div>
    <div class="card-content">
        <div class="card-content-inner">{{Content}}</div>
    </div>
    <div class="card-footer">Posted {{Day}}</div>
  </div> 
{{/each}}

<!-- TODO this is ugly and needs to be placed at the definite bottom of the screen -->
<div class="infinite-scroll-preloader">
  <div class="preloader"></div>
</div>