{{#each this}}
  <div class="card">
    <div class="card-header">
      <a href="newsarticle.html?id={{ID}}">
        {{Title}}
      </a>
    </div>
    <div class="card-content">
        <div class="card-content-inner">{{Content}}</div>
    </div>
    <div class="card-footer">Posted {{Day}}</div>
  </div> 
{{/each}}